/* ========================= */
/* Barra URL in cima          */
/* ========================= */
.urlbar {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    layout: horizontal;
    background: #2c2c2e;
    border-bottom: heavy #3a3a3c;
}

/* Input */
.url-input {
    width: 1fr;
    background: #1e1e1e;
    color: #f5f5f7;
    border: heavy round #ffc400;
    padding: 0 1;
}

/* Pulsante */
.url-button {
    width: 4;
    height: 3; 
    background: #2c2c2e;
    color: #ffffff;
    border: heavy round #ffc400;
    text-style: bold;
}

/* ========================= */
/* Container principale       */
/* ========================= */
.main-container {
    height: 1fr;
    layout: vertical;
    padding: 0;
    margin: 0;
    background: #2c2c2e;
}

/* Row principale */
.main-row {
    layout: horizontal;
    height: 1fr;
}

/* ========================= */
/* Albero delle dipendenze   */
/* ========================= */

.dependency {
    border: heavy round #ffc400;
    width: 40;
    height: 1fr;
    padding: 1;
    background: #2c2c2e;
}


/* ========================= */
/* Colonna destra            */
/* ========================= */
.right-column {
    layout: vertical;
    width: 1fr;
    height: 1fr;
}

/* ========================= */
/* PyPI block                */
/* ========================= */
.pypi-block {
    height: 1fr;
    border: heavy round #ffc400;
    padding: 1;
    margin-bottom: 1;
    background: #2c2c2e;
    position: relative; /* NECESSARIO */
}

/* ========================= */
/* ScanCode block            */
/* ========================= */
.scancode-block {
    height: 1fr;
    border: heavy round #ffc400;
    padding: 1;
    background: #2c2c2e;
    position: relative; /* NECESSARIO */
}

/* ========================= */
/* Wrapper per DataTable     */
/* ========================= */
.table-wrapper {
    border: heavy round #3a3a3c;
    padding: 1;
    background: #1e1e1e;
}

/* ========================= */
/* Tabelle DataTable         */
/* ========================= */
DataTable {
    border: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #1e1e1e;
    color: #f5f5f7;
}

/* ========================= */
/* Footer dei blocchi        */
/* ========================= */
.footer-title {
    color: #636366;        /* grigio macOS */
    text-style: italic;
    padding: 0 1;
    text-align: right;     /* ALLINEA A DESTRA */
    opacity: 0.8;
}

.hidden {
    display: none;
}
